@use "../../styles/variables";
@use "../../styles/mixins";

.google-reviews-section {
   padding: 40px 20px;
   display: flex;
   justify-content: center;
   transition: background 0.3s ease;

   background: variables.$light-bg;

   body.dark & {
      background: variables.$dark-bg;
   }
}