@use "../../styles/variables";
@use "../../styles/mixins";

.google-reviews-container {
   background: variables.$light-bg;
   padding: 20px;
   transition: all 0.3s ease;

   body.dark & {
      background: variables.$dark-bg;

      span,
      p,
      div {
         color: variables.$text-dark !important;
      }
   }
}