$light-bg: #EFEFEF;
$dark-bg: #222831;
$primary-color: #F1EFEC;
$secondary-color: #393E46;

$accent-color: #FF6500;
$accent-icon-color: #FFCC00;

$text-light: #222831;
$text-dark: #EFEFEF;

$font-family: "Anton", sans-serif;