@use "../../styles/variables";
@use "../../styles/mixins";

.footer {
   font-size: 0.5rem;
   padding: 2rem 1rem 0.5rem 1rem;
   text-align: center;
   background: variables.$light-bg;
   color: variables.$text-light;

   // Dark mode
   body.dark & {
      background: variables.$dark-bg;
      color: variables.$text-dark;
   }

   .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.5rem;

      a {
         color: inherit;
         transition: color 0.3s ease, transform 0.3s ease;

         &:hover {
            transform: scale(1.2);
         }
      }
   }

   .footer-text {
      margin-top: 1rem;
      font-size: 0.6rem;
   }
}