@use "../../styles/variables";

.theme-toggle {
   font-size: 1.8rem;
   background: none;
   border: none;
   cursor: pointer;
   color: inherit;
   transition: transform 0.4s ease, color 0.3s ease;

   &:hover {
      color: variables.$accent-icon-color;
      transform: scale(1.2);
   }
}