@use "../../styles/variables";

.portfolio-card {
   display: flex;
   flex-direction: column;
   border: 0.5px solid variables.$secondary-color;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 2rem;
   background: variables.$light-bg;
   transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
   width: 100%;
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;

   .video-wrapper {
      position: relative;
      width: 100%;
      height: 500px; 
      border-radius: 8px;
      overflow: hidden;

   }

   video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      object-fit: cover; 
      border-radius: 8px;
      cursor: pointer;

   }

   @media (min-width: 768px) {
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      .video-wrapper {
         max-width: 100%; 
         margin-left: 0;
         margin-right: 0;
      }
   }

   .dark & {
      background: variables.$dark-bg;
      border: 0.5px solid variables.$primary-color;
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
   }
}